.person {
    display: flex;
    justify-content: center;
}

.avatar {
    background-color: #f6f6f6;
    padding: 0px 20px;
    width: 200px;
}

.picture {
    max-width: 100%;
}

.summery {
    background-color: #efefef94;
}

.line {
    border-bottom: 2px solid #ffa500;
    display: flex;
    width: 500px;
    padding: 10px 0px;
    justify-content: space-between;
}

.title {
    font-weight: 500;
}

.value {
    width: 200px;
}
